#formDiv {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
}

p.Error {
  color: red;
  font-size: 10px;
}

input.Error {
  border: 2px solid red;
}
