@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.details {
	color: #610a83;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff;
	font-size: 20px;
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-image: url('../../multimedia/gameDetails-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/* filter: blur(2px); */
	/* -webkit-filter: blur(2px); */
	font-family: 'VT323', monospace;
	font-weight: bold;
}

.details b {
	font-size: 22px;
	text-decoration: underline;
	color: #fff;
	text-shadow: 0 0 7px #610a83, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #610a83;
}

.detailIMG {
	width: 640px;
	height: 360px;
	border-radius: 10px;
}

.detailH2 {
	font-weight: bolder;
	font-size: 40px;
}

.liPlat {
	font-size: inherit;
	list-style-type: none;
}

.liGen {
	font-size: inherit;
	list-style-type: none;
}

.detailDescr {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	margin-left: 270px;
	margin-right: 270px;
}
