.filterForm {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 10px;
}

.filterDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.filterLbl {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  color: #610a83;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff;
}

.filterSelect {
  display: flex;
  justify-content: center;

  border: 0.2rem solid #fff;
  border-radius: 0.5rem;
  padding: 0.5em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

#btnSort {
  /* padding: 5px 8px 5px 8px; */
  background-color: transparent;
  border-radius: 0.5rem;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe,
    0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
}

#btnSort:hover {
  border: 0.2rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  /* padding: 8px; */
  cursor: pointer;
}
