.home {
  background-image: url("../../assets/neon-arcade-machines-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding-top: 10px;
}