@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.formContainer {
	background-image: url('../../multimedia/postGame-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 20px;
}
.postGame {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	width: fit-content;
	/* margin-top: 5%; */
	margin-left: 35%;
	font-size: 25px;
	font-family: 'VT323', monospace;
	font-weight: bold;
	color: rgb(150, 0, 150);
}

p.Error {
	color: red;
	font-size: 20px;
}

input.Error {
	border: 2px solid red;
}

.formFooter {
	margin-top: 10px;
	padding-bottom: 20px;
	font-size: 15px;
	color: rgb(255, 179, 255);
}
.formH2 {
	/* color: rgb(150, 0, 150); */
	color: #610a83;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.formSpan {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.selectSpan {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 10px;
}

.formBtn {
	color: #fff;
	width: fit-content;
	padding: 8px;
	background-color: rgb(150, 0, 150);
	border-radius: 0.5rem;
}

.formBtn:hover {
	border: 0.2rem solid #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
		0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
	padding: 8px;
	cursor: pointer;
}

#formInput {
	border: 0.2rem solid #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
		inset 0 0 1.3rem #bc13fe;
	padding: 8px;
}

.formLbl {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 10px;
  color: #610a83;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff;
	}

.image-span {
	display: inline-block;
	margin-top: 10px;
	border: 0.2rem solid #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
		0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
	padding: 8px;
	width: 200px;
}

.list-items {
	display: flex;
	font-size: 20px;
	color: #bc13fe;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff,
		0 0 82px #fff, 0 0 92px #fff, 0 0 102px #fff, 0 0 151px #fff;
}
