@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.details {
  color: #610a83;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff;
  font-size: 20px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("./depositphotos_63921325-stock-photo-arcade-machine-opposing-duel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* filter: blur(2px); */
  /* -webkit-filter: blur(2px); */
  font-family: 'VT323', monospace;
}

.detailIMG {
  width: 640px;
  height: 360px;
  border-radius: 10px;
}

.detailH2 {
  font-weight: bolder;
  font-size: 40px;
}

.liPlat {
  font-size: inherit;
}

.liGen {
  font-size: inherit;
}

.detailDescr {
  font-size: 20px;
  padding-left: 100px;
  padding-right: 100px;
}